- title @design.name
= render @design

- if user_signed_in?
	%p
		= link_to 'Edit design', edit_design_path(@design), class: 'btn btn-primary'
		= link_to 'Destroy', @design, method: :delete, class: 'btn btn-danger',
			data: { confirm: 'Are you sure?' }