// Google Webfonts Lato & Lato Light
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

// Boostrap
// - import here so we have access to all the variables and mixins
@import "bootstrap";

// Bootstrap Variables
// -------------------------

// Vmerch
// -------------------------
$font-family-lato: 				Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-lato-light:	"Lato Light", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Brand colors
// -------------------------
$brand-primary:         #4e3127;
$brand-light:		        #b8ada9;
$brand-bg:							#f2efed;
$link-color:						$brand-primary;

// Scaffolding
// -------------------------
$body-bg:               $brand-bg;
$text-color:            $brand-primary;

// Typography
// -------------------------
$font-family-sans-serif:  $font-family-lato;

// Navbar
// -------------------------
$navbar-border-radius: 0;

// Alerts
// -------------------------
.alert-error {
	@extend .alert-danger;
}

// Profile Photo
// -------------------------
img.profile-photo {
	border: 1px solid $brand-light;
}

body, .panel {
	background-color: $body-bg;
}

header.jumbotron {
	background: image-url("header-bg.jpg") center no-repeat;
	background-size: cover;
	min-height: 420px;
	margin-bottom: 0;
		a {
			img {
				padding-top: 20px;
				margin: 0 auto;
			}
		}

	h1 {
		margin: 0;
	}
}

nav.navbar-default {
	border-top: 4px solid $brand-primary;
	border-width: 4px 0 1px 0;
	font-size: $font-size-large;

	&.stuck {
		@extend .navbar-fixed-top;
		border-top: 4px solid $brand-primary;
	}

	li.active {
		font-color: $brand-light;
	}
}

// Headers
// -------------------------
.page-header {
	margin: ($line-height-computed / 2) 0;
	border-bottom: 1px solid $brand-light;
	padding-bottom: ($line-height-computed / 4);
}

h1,h2,h3,h4,h5,h6 {
	font-family:  $font-family-lato-light;
	font-weight: 300;
	color: $brand-primary;
}

footer {
	background: image-url("footer-bg.jpg");
	padding: 40px 0;

	li {
		border-right: 1px solid;
		&:last-child {
			border: none;
		}
	}

	a {
		color: $brand-primary;
		font-size: ($font-size-base * 1.1);
	}
}

// Two column design layout
// -------------------------
.two_column {
	.panel {
		width: 48%;
	}
}


@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	footer {
		//background-image: url("/preview/html/img/footer-bg_2x.jpg");
		//background-size: 100%;
	}
}