- title 'Emails'

%table.table.table-condensed.table-striped
  %thead
    %tr
      %th From
      %th Sent on
      %th{ colspan: 2 } Actions

  %tbody
    - @emails.each do |email|
      %tr
        %td= link_to email.name, email
        %td= link_to 'Edit', edit_email_path(email), class: 'btn btn-large btn-primary'
        %td= link_to 'Destroy', email, method: :delete, data: { confirm: 'Are you sure?' },
          class: 'btn btn-large btn-danger'